body {
  margin: 0;
  background: #ffffff;
  font-family: Arial, sans-serif;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  font-size: 16px;
  color: #000;
  margin-top: 20px;
  text-align: center;
}

.arrow {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
}
